<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/partes :: cabecera_comun('Inicio de Administradores')}"></head>

<body class="bg-dark text-white">
<div th:replace="~{admin/partes :: menu_superior('Tienda Admin')}"></div>

<div class="container">
    <div th:replace="~{admin/partes :: migas('Inicio')}"></div>

    <div class="row text-center">
        <h1>Gestión de la Tienda</h1>
        <p class="lead">Que parte quieres gestionar</p>

        <div class="col-md-4 mb-3">
            <div class="card bg-secondary text-white p-3 shadow">
                <h3>Categorías</h3>
                <a th:href="@{/admin/categorias}" class="btn btn-light mt-2">Gestionar</a>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card bg-secondary text-white p-3 shadow">
                <h3>Marcas</h3>
                <a th:href="@{/admin/marcas}" class="btn btn-light mt-2">Gestionar</a>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card bg-secondary text-white p-3 shadow">
                <h3>Productos</h3>
                <a th:href="@{/admin/productos}" class="btn btn-light mt-2">Gestionar</a>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{admin/partes :: scripts_comun}"></div>
</body>
</html>